.container-fluid{
    background: rgb(55, 216, 230) !important;
    box-shadow: 4px 4px 4px 2px rgb(66, 124, 130) !important;
}

body {
    background-color: rgb(185, 132, 242) !important;
  }

footer{
    background: rgb(55, 216, 230) !important;
    border-top: 1px solid  rgb(66, 124, 130);
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
