<%- include('header.ejs') %>
    <h2>Alguns Cheats</h2>
    <p class="fs-5">Se você está jogando The Sims 4 pelo PC, digite: CTRL+SHIFT+C para abrir o menu de Cheats.</br>
         Mas se você está jogando pelo console, Pressione os botões: L1 + L2 + R1 + R1 (PS4/PS5) / LT + LB + RT + RB (Xbox One/Xbox Series X).</p>
    <p class="fs-4">O seguinte menu vai aparecer: </p>
    <img src="/images/cheats.site.webp" class="rounded mx-auto d-block" alt="...">

    <p class="fs-5">Para Cheats de dinheiro, digite: rosebud (este cheat adiciona 1,000 Simoleons à Conta), motherlode (este cheat adiciona 50,000 Simoleons à Conta),</br>
         Money {número} (este cheat altera o valor exato do dinheiro da família para um valor exato.), FreeRealEstate {on/off}</br>
         (Todos os lotes ficam de graça quando você adiciona este código enquanto estiver no mapa de mundo.)</p>
    <p class="fs-5">Para cheats de necessidade, digite: sims.fill_all_commodities (Aumenta as necessidades no máximo (para todos da casa)</p>
  
    <%- include('footer.ejs') %>
