<%- include('header.ejs') %>
    <h2>Bem vindo ao Your Sims</h2>
    <p class="fs-5">The Sims 4 é um jogo de simulação social de 2014 desenvolvido pela Maxis e publicado pela Electronic Arts. Atualmente, o jogo está disponível de graça na Steam</br>
         desde o dia 18 de outubro de 2022. O jogo conta com vários pacotes de expansão que fazem com que a sua experiência fique melhor ainda.</p>
 
         <table>
            <tr>
              <td><img  width="700" src="/images/personagens.site.jpg" class="rounded mx-auto d-block" alt="..."/></td>
              
              <td class="fs-4"> Este site te mostra algumas dicas sobre o jogo.</br>
                clique em Cheats ou Construções para ver.</td> 
            </tr>
           
          </table>   
<%- include('footer.ejs') %>
