<%- include('header.ejs') %>
<p class="fs-2">Sobre </p>

    <table>
        <tr>
          <td><img  width="800" src="/images/sobre.site.jpg" class="rounded mx-auto d-block" alt="..."/></td>
          
          <td class="fs-4"> Este site tem como fim informar sobre dicas do jogo, como: Cheats e construções.</br>
            Acompanhe para breves atualizações..</td> 
        </tr>
       
      </table>
    <%- include('footer.ejs') %>
